name: Plugin asset/readme update
on:
  push:
    branches:
      - main
    paths:
      - '.wordpress-org/**'
      - 'readme.txt'
      - 'README.txt'

jobs:
  assets:
    name: Update assets
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
      
      - name: WordPress.org plugin asset/readme update
        uses: 10up/action-wordpress-plugin-asset-update@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: staticdelivr
          IGNORE_OTHER_FILES: true
